@charset "utf-8";
/* CSS Document */

/*初始化*/
ol,ul{
	list-style:none;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
.clear{
	clear::both;
}
img{
	max-width::100%;
}
::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }

a:link,
a:hover,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}

body{
	padding-top:75px;	
	padding:0px 0px 30px 0px;	
	background: none;
    background-color: white;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #515151;
    margin: 0;
	height: 100%;
    width: 100%;
    margin: 0;
    background: #fff;
}
/*登录页面背景设置*/
.bg{
	width:40%;
	margin:0 auto;
	
	/*position: relative;*/
    /* overflow: hidden; */
    /*min-height: 750px;
    max-height: 1080px;*/
/* background: linear-gradient(to bottom, #101012, #1A1A1C, #151517); */
    /*background: #f8fcff;
    background: linear-gradient(to bottom, #f8fcff, #f8fcff, #f8fcff);*/
	
	
}
.bg h2{
	font-size:30px;
	font-weight:700;
	color:#666;
	text-align:center;
	margin:0px 0px 50px 0px;
	font-family:Verdana, Geneva, sans-serif;
	width:80%;
	
}

.box {
    padding: 0;
    margin-left: 10px;
}

.box img{
	width:60%;
	
	}
	
/*img{
	width:20%;
	}*/
/*登录页面*/	
.banner-box {
position: relative;
/* overflow: hidden; */
min-height: 750px;
max-height: 1080px;
/* background: linear-gradient(to bottom, #101012, #1A1A1C, #151517); */
background: #f8fcff;
background: linear-gradient(to bottom, #f8fcff, #f8fcff, #f8fcff);
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span, dl, ul, li {
margin: 0;
padding: 0;
border: 0;
list-style: none;
}
user agent stylesheetdiv {
display: block;
}


.banner-box:before {
 position: absolute;
 content: ' ';
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: url(../images/2.png) no-repeat center;
 background-size: contain;
}

.main-form {
	width: 398px;
	position: absolute;
	top: 16%;
	right: 80px;
	background-color: #FFF;
	padding: 35px 35px 10px;
	border-radius: 2px;
}

@media (max-width: 1440px) {
	.main-form {
		right: 220px;
		top: 14%;
	}
}

.main-form .normalInput {
	margin-bottom: 20px;
}

#toLogin{
	color: #2b2b2b;
}
.rememberField{
	margin-bottom: 25px;
	height: 24px;
	line-height: 20px;
}
.rememberField label{
	 margin-right:7px;
	 cursor:pointer;
	 font-size: 14px;
	 color: #7f7f7f;
}
.rememberField label:hover{
	 color: #000000;
}
.rememberFieldForA{
	margin-left: 90px;
}
.checkboxPic{ width: 20px;}

.transferField:after {
	content: ' ';
	display: block;
	height: 0;
	clear: both;
}

.go2forgetpwd {
	float: right;
}

.checkUnchk{
	background-position:-1px -73px;
}
#forgetpwd{
	margin-left: 15px;
}




.ipt-account{
	position: absolute;
	color: #000000;
	font-size: 14px;
	height: 22px;
	line-height: 22px;
	/*left: 18px;
	top: 2px;*/
}

input.error{
	margin-bottom: 0px;
}


#kapkey{
	font-size: 16px;
	width: 190px;
	border: none;
	outline: none;
	/*height: 50px;*/
	line-height: 22px;
	overflow: hidden;
/*	*height: 49px;
	*line-height: 50px;*/
}
#imgKey{
	width: 88px;
	height: 36px;
	float: right;
	top: 14px;
	overflow: hidden;
	position: absolute;
	margin-left: 13px;
}
#password{
	/*width: 100%;*/
	display: inline-block;
	/*height: 50px;
	line-height: 22px;*/
	font-size: 14px;
	outline: none;
	color: #474747;
	/*line-height: 25px;
	[;line-height: 0px;];
	line-height: 50px\0;
	*height: 49px;
	*line-height: 50px;*/
	
	
}
/* #password,#kapkey,#account{
	line-height: 22px;
	padding: 14px 0;
	height: 22px;
	*height: 21px;
} 
/*reset*/
span.error, span.otherError{
	display: block;
	margin-left: 0px;
	margin-bottom: 20px;
}



.abnormal-tips{display:none;margin:-10px 0 10px;}
.form-line {
	color: #d9d9d9;
	height: 40px;
	display: inline-block;
	border-left: 1px solid #dadada;
	position: absolute;
	right: 140px;
	top: 5px;
	_top:0;
}
.abnormal-tips{color:red;font-size:12px;padding:5px 0;}
.get_kapkey,.kapkey_requested{
	/*cursor:pointer !important;*/
	width: 140px;
	border: none;
	outline: none;
	height: 50px;
	line-height: 50px;
	*height: 49px;
	*line-height: 50px;
	font-size: 14px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	white-space: nowrap;
	/*color:#00a7ea !important;*/
}
.get_kapkey {
	color: #00a7ea;
}
/*.kapkey_requested{color:#7f7f7f !important;cursor:default !important;}*/



.tab-title {
	font-size: 18px;
	/*margin-bottom: 60px;*/
	margin-top: 35px;
	width: 300px;
	text-align: center;
}
.register-line{
    color: #B3ABAB;
    display: inline-block;
    border: 2px solid #B3ABAB;
    border-left: 1px;
    height: 10px;
    line-height: 20px;
    margin-right: 32px;
    margin-left: 32px;
}

.show-cycode .cycode-selected {
	display: inline-block;
	width: 60px;
	border-right: 1px solid #DDD;
	cursor: pointer;
	line-height: 22px;
	top: 10px;
	position: relative;
	height: 26px;
	*top: 0px;
}

::-ms-clear{display: none;}
::-ms-reveal{display: none;}

#flymeFooter {
	position: static;
	border-color: transparent !important;
}

.transferField {
    margin-bottom: 5px;
}

div.normalInput {
    overflow: visible;
}


.normalInput{border-radius: 2px;}
.tip-box{position: relative;height: 33px;display: table;width: 100%;margin-bottom: 10px;margin-top: 26px;border: solid 1px #ffc2b3;background: #ffd1ca;border-radius: 2px;}
.tip-font{color: #666;font-size: 12px;padding-left: 35px;padding-right: 25px;display: table-cell;vertical-align: middle;}

.btn-error{border: 1px solid red;}
.btn-focus{border:1px solid #32a5e7;}
.visiblility-hidden{visibility: hidden;}

.footerWrap a:visited {
    color: black;
}

/*注册页面*/
strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color:#666;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color:#666;
    line-height: 30px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #666;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top menu *****/

.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li { padding-top: 8px; padding-bottom: 8px; }

.navbar-inverse ul.navbar-nav li .li-text { opacity: 0.8; }

.navbar-inverse ul.navbar-nav li a { display: inline; padding: 0; color: #fff; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px dotted #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px dotted #fff; }

.navbar-inverse ul.navbar-nav li .li-social a {
	margin: 0 5px;
	font-size: 28px;
	vertical-align: middle;
}
.navbar-inverse ul.navbar-nav li .li-social a:hover, 
.navbar-inverse ul.navbar-nav li .li-social a:focus { border: 0; color: #19b9e7; }

.navbar-brand {
	width: 123px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}

/***** Top content *****/

.inner-bg {
    padding: 40px 0 170px 0;
}

.top-content .text {
	color: #666;
}

.top-content .text h1 { color: #666; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}

.form-box {
	padding-top: 40px;
}

.form-top {
	/*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2); 
	background: -webkit-gradient(linear, left top, left 24, from(#EEE), color-stop(4%, #FFF), to(#EEE)); 

    background: -moz-linear-gradient(top, #EEE, #FFF 1px, #EEE 24px); 

    background: -o-linear-gradient(top, #EEEEEE, #FFFFFF 1px, #EEEEEE 24px);*/
	background-color:#E1E1E1;
	overflow: hidden;
	padding: 10px 60px;
	/*border-radius: 25px 25px 0px 0px;*/
	background: #fff;
	/*-moz-border-radius: 15px 15px 0px 0px; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;*/
	text-align: left;
	
	
	margin-left:480px;
	margin-right:-320px;
	width: 398px;
    margin-top:100px;
    top: 16%;
    right: -280px;
    border-radius: 2px;
    
    
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	/*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2); 
	background: -webkit-gradient(linear, left top, left 24, from(#EEE), color-stop(4%, #FFF), to(#EEE)); 

    background: -moz-linear-gradient(top, #EEE, #FFF 1px, #EEE 24px); 

    background: -o-linear-gradient(top, #EEEEEE, #FFFFFF 1px, #EEEEEE 24px);*/
	background-color:#E1E1E1;
	
    padding: 30px 60px;
	background: #FFF;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
	margin-left:480px;
	margin-right:-320px;
	width: 398px;
    
    top: 16%;
    right: -280px;
    
    
    border-radius: 2px;
	
}

form .form-bottom textarea {
	height: 100px;
}

form .form-bottom button.btn {
	min-width: 105px;a
}

form .form-bottom .input-error {
	border-color: #19b9e7;
}

form.registration-form fieldset {
	display: none;
}
	
/*导航栏*/
.navbar-brand{
	padding:0 0;
	
	
}



.navbar-brand>img{
	height:auto;
	margin-right:5px;
	margin-top:5px;
	width:200px;
}
/*三级导航*/
.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/*商品详情页面*/
.card-holder {  
  position: fixed;
  width: 0px;
  overflow: visible;
}

.card-wrapper {
  display: inline-block;
  float: right;
  clear: both;
}

.card {
  position: relative;
  left: 32px;
  padding: 16px 32px 16px 64px;
  margin: 8px;  
  x-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
  background: #fff;
  transition: all 0.3s ease-in-out 0.1s;
}

.card:hover {
  position: relative;
  left: 100%;
  margin-left: -32px;
  box-shadow: 
    0 -8px 8px -8px rgba(0, 0, 0, 0.5),
    0 8px 8px -8px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.card-content {
  display: inline-block;
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.bg-01 { background: #539770; }
.bg-02 { background: #4B7D74; }
.bg-03 { background: #8DC2BC; }
.bg-04 { background: #EDD6B4; }
.bg-05 { background: #BE7467; }
.bg-06 { background: #E2AE63; }






/*广告栏*/
.carousel{
	height:680px;
	background-color:#000;
	margin-bottom:30px;	
}
.carousel .item{
	height:680px;
	background-color:#000;
	
}
.carousel img{
	width:100%;
	background-color:#000;
}
.carousel-caption p{
	margin-botton:120px;
	font-size:16px;
	line-height:28px;
}
summary-container .col-md-4{
	text-align:center;
	
}
#summary-container img{
	width:200px;
}
#summary-container h2{
	color:#00c;
}

/*热卖商品*/
.hot{
	padding:0.5em 0;
	margin:1em 0;
	border:1px solid #eee;
}
.hot h3{
	color:#1A1A1A;
	font-size:1.5em;
	font-weight:600;
	padding:0 0 0.5em;
	border-bottom:2px solid #eee;/*底部分割线*/
}
.hot p{
	color:#0F0;
	font-size:1em;;
	font-weight:400;
	line-height:1.8em;
	margin:1em 0;
}
.hot h3{
	color:red;
	font-size:1.5em;
	font-weight:400;
	margin:0.3em 0;
}

a.morebtn{
	display:block;
	font-size:1em;
	font-weight:400;
	background-color:#D96B66;
	color:#FFF;
	border-radius:3px;
	text-decoration:none;
	transition:1s all ease;
	line-height:3em;
	padding:0 10px;
}
a.morebtn:hover{
	background-color:#5fa022;
	
}
#detail-container .col-md-4{
	text-align:center;}
#detail-container .col-md-4>img{
	height:auto;
	width:350px;}
.feature{
	padding:30px 0;
	height:300px;}
.feature-heading{
	font-size:50px;
	color:#06c;
	margin-top:20px;}
.feature-heading .text-muted{
	font-size:28px;
	color:#999;}
#title-img{
height:auto;
width:250px;
margin-right:5px;
margin-top:5px;
}
.tab-content{
	margin:5px;
	text-align:center;
}
.choose{
border:1px solid silver;
padding:10px;
}
.nav-pills>li>a{
	color:#se90sd;}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover{
	color:#fff;
	background-color:#5a9522;}
@media(max-width:1024px){
	a.morebtn{
		max-width:400px;
	}	
}

